@model ProjektniZadatak.Views.ViewModels.CustomerInfoViewModel
@{
    ViewBag.Title = "CustomerInfo";
}
<h2 style="text-align:center;">@Model.Kupac.Ime @Model.Kupac.Prezime   </h2>
<span><a class="btn btn-primary" style="margin-bottom:10px;" href="https://localhost:44308/WebForme/CustomersForm/CustomersForm.aspx">Uredi kupca</a></span>
<table class="table table-bordered">
<thead>
    <tr>
        <th>Id racuna</th>
    </tr>
</thead>
<tbody>
    @foreach (var racun in Model.Racuni)
    {
        <tr>
            <td>@Html.ActionLink($"{racun.IDRacun}", "ReceiptInfo", "Receipts", new { Id = racun.IDRacun }, null)</td>
        </tr>
    }
</tbody>
</table>
