@{
    ViewBag.Title = "Kontakt";
}
<style>
    a:link {
        color: #535ccc;
        background-color: transparent;
        font-weight:bold;
        text-decoration: none;
    }

    a:visited {
        color: darkolivegreen;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<div style="
    text-align:center;
    ">
    <h2>@ViewBag.Title.</h2>

    <address>
        Visoko učilište Algebra<br />
        Ilica 242<br />
        1000 Zagreb, Hrvatska<br />
        01 2222 182
    </address>
    <address>
        <strong>Podrška:</strong>   <a style="text-decoration:none;" href="mailto:mlozic@racunarstvo.hr">mlozic@racunarstvo.hr</a> <div style="float:right; padding-right:20%;"><p>Autor: <strong>Mihovil Lozić</strong></p><br />
    </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.813558829828!2d15.942736615569244!3d45.81499217910677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6d74e265877%3A0x1a4f4eae9fc461c5!2sAlgebra%20University%20College!5e0!3m2!1sen!2shr!4v1627569648911!5m2!1sen!2shr" width="500" height="400" style="border: 1px solid black;" allowfullscreen="" loading="lazy"></iframe>
</div>