@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RWA projekt</h1>
    <p class="lead">Ova web aplikacija je napravljena kao projektni zadatak iz predmeta razvoj web aplikacija</p>
    <p><a href="https://www.algebra.hr/visoko-uciliste/studij/prediplomski-studij/programsko-inzenjerstvo/nastavni-plan/razvoj-web-aplikacija/2888" class="btn btn-primary btn-lg">Više o predmetu &raquo;</a></p>
</div>
